<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Meet our Team Members</h1>
            </div>
            <div class="row gx-5">
                <div th:each="admin :${admin}" class="col-lg-4 mb-2">
                    <div class="position-relative mb-3">
                        <img class="img-fluid rounded-3 mb-3" th:src="${admin.photoUrl}" alt="..." width="240" />
                        <p th:text="${admin.name}" class="h2"/>
                        <a th:text="${admin.surname}" class="h6 text-decoration-none link-dark stretched-link" href="#!">Project name</a><br>
                        <a th:text="${admin.phone}" class="h6 text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                        <a th:text="${admin.email}" class="h6 text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>